/* Basic CSS reset */
:root {
    --primary: #74B36B;
    --secondary: #F5F5F5;
    --third: #ffa230;
    --dark: #212121;
    --light: #f3f3f3;
}

*, :after, :before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    background-color: white;
    font-family: 'Changa', sans-serif;
}

/* You start your css below */

.wrapper {
    margin: 0 auto;
    padding: 0 5px;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
}

.hoved_sektion {
    max-width: 1024px;
    margin: 0 auto;
    background: white;
}

.sidehoved {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    cursor: pointer;
}

.log-om {
    display: flex;
    align-items: center;
}

.omos {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
    transition: all .3s ease-in-out;
}

.omos:hover {
    color: rgb(53, 53, 53);
}

.logo {
    width: 130px;
}

.login_symbol {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--primary);
    transition: all .3s ease-in-out;
    color: white;
    font-weight: 600;
}

/*log ind*/
.login_symbol img {
    padding-right: 8px;
}

.login_symbol:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

.login_symbol button {
    background: none;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.login_symbol button:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

/* Style for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Style for the modal content */
  .modal-content {
    background-color: #F5F5F5;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    max-width: 400px;
    border-radius: 5px;
  }
  
  /* Style for the close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  /* Style for the form inputs */
  input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Style for the log in button */
  .login-btn{
    background-color: #74B36B;
    color: var(--primary);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
/*log ind slu*/  

.billed_sektion {
    background-image: url('../billeder/biler/familien2.jpeg');
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.forside-wrapper {
    display: flex;
}

.forside-tekst {
    position: absolute;
    bottom: 100px;
    right: 120px;
    font-size: 30px;
    color: var(--light);
}


/*Flip card*/
.card {
    padding-top: 100px;
    padding-left: 150px;
    width: 400px;
    height: 240px;
    cursor: pointer;
}

.card__inner {
    width: 400px;
    height: 240px;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    width: 400px;
    height: 240px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
}

.card__styling--front {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: white;
    bottom: 0;
    right: 0;
}

.card__face h2 {
    color: white;
}

.card__face h3 {
    padding-top: 10px;
    color: white;
}

.card__face--front {
    background-image: linear-gradient(to bottom right, #c1ffb8, var(--primary));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card__face--back {
    background-color: rgb(209, 209, 209);
    display: block;
    transform: rotateY(180deg);
}

.card__content form{
    width: 400px;
    height: 240px;
    font-family: 'Changa', sans-serif;
    font-weight: 500;
}

.tap {
    position: absolute;
    margin-top: 75px;
    margin-left: 110px;
    width: 35px;
}

/*Flip card slut*/

.formular {
    width: 400px;
    height: 245px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    font-family: 'Itim', cursive;
}

.formular_overskrift {
    text-align: center;
    font-size: 1.4rem;
}

.formular_felter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#afhentning, #aflevering, #personer {
    width: 9.5rem;
    text-align: right;
    font-family: 'Changa', sans-serif;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 5px;
}

#kufferter {
    width: 9.5rem;
    padding: 5px;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 5px;
}

.etiket {
    margin: 1px 0 5px;
    display: block;
}

.formular_knap {
    text-align: center;
    margin-top: 25px;
}

.knap {
    cursor: pointer;
    padding: 8px 35px;
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
}

#bil_sektion img {
    width: 400px
}

.bil_sektion {
    padding: 50px 0;
    max-width: 1024px;
    /* Forhøjet fra 800px */
    margin: 0 auto;
    /* text-align: center; */
}

.bil {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--secondary);
    /* Farve ændret fra black */
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.1);
}

.bilMM {
    font-size: 1.5rem;
    width: 13rem;
}

.bildetaljer {
    width: 13rem;
}

.prisogbook {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 6rem;
}

.lejeudgift {
    font-size: 1.5rem;
}

.booknu_knap {
    background-color: var(--primary);
    color: white;
    text-decoration: none;
    text-align: center;
    width: 8rem;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

@media only screen and (max-width: 900px) {
    .formular {
        margin: 0 auto;
    }
    .bil {
        flex-direction: column;
        justify-content: space-around;
        height: 500px;
        align-items: center;
    }
    .bilMM, .bildetaljer {
        width: auto;
    }
}

@media only screen and (max-width: 410px) {
    .billed_sektion {
        height: 475px;
    }
    .formular {
        width: 310px;
        height: 375px;
    }
}

/*om os*/
.om-os {
    display: flex;
    justify-content: center;
}

.omos-billede {
    max-width: 1280px;
    display: flex;
    justify-content: center;
}

.omos-billede img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.omos-billede h2 {
    position: absolute;
    top: 620px;
    left: 150px;
    color:white;
}

.omos-billede p {
    position: absolute;
    top: 680px;
    left: 150px;
    max-width: 500px;
    line-height: 20px;
    color: white;
}

/*footer*/
.footer img {
    width: 100px;
}

.footer {
    margin-top: 80px;
    padding-top: 20px;
    background: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    line-height: 25px;
}

